/*
Author: Severyn Ormson
Class: WDD 130
Date: 
Sources:
https://www.w3schools.com/cssref/pr_background-image.php
https://www.w3schools.com/howto/howto_css_hero_image.asp
https://www.w3schools.com/cssref/pr_text_text-decoration.php
https://www.w3schools.com/cssref/pr_background-position.php
google gemini for the images
*/


html {
    background-color: #EFEFEF;
}

header {
    display: grid;
    grid-template-columns: 1fr 6fr;
    border: 2px solid black;
    background-color: #111111;
    position: fixed;
    z-index: 2;
}

/* Logo */
/********************************************************************/
#logo {
    grid-column: 1/2;
}

#suit_logo {
    width: 240px;
    height: 120px;
}

/* Navigation */
/********************************************************************/
#nav {
    grid-column: 2/3;
    background-color: #111111;
    display: grid;
}

.links {
    background-color: #1C2A39;
    color: #F5F5F5;
    padding: 10%;
    font-family: "Playfair Display", serif;
    font-size: 22px;
    text-decoration: none; /* Removes blue underline from links */
    display: grid;
    justify-content: center;
    align-content: center;
}

.links:hover {
    border-bottom: #5F9EA0 solid 5px;
    border-top: #5F9EA0 solid 5px;
}

#home_nav {
    grid-column: 1/2;
    padding: 8%;
}

#fit_nav {
    grid-column: 2/3;
}

#contact_nav {
    grid-column: 3/4;
    padding: 8%;
}

/* Footer */
/********************************************************************/
footer {
    background-color: #1C2A39;
    color: #F5F5F5;
    position: relative; top: 350px;
    height: 80px;
}

.footer {
    justify-self: center;
}