header {
    display: grid;
    grid-template-columns: 1fr 4fr;
    border: 2px solid black;
    background-color: #F5F5F5;
}

#logo {
    grid-column: 1/2;
}

#suit_logo {
    width: 240px;
    height: 120px;
}

#nav {
    grid-column: 2/5;
    background-color: #F5F5F5;
    display: grid;
}

.links {
    background-color: #1C2A39;
    color: #F5F5F5;
    padding: 10%;
    font-family: "Playfair Display", serif;
    font-size: 22px;
    text-decoration: none; /* Removes blue underline from links */
    display: grid;
    justify-content: center;
    align-content: center;
}

.links:hover {
    border-bottom: #5F9EA0 solid 5px;
    border-top: #5F9EA0 solid 5px;
}

#home_nav {
    grid-column: 1/2;
}

#fit_nav {
    grid-column: 2/3;
}

#contact_nav {
    grid-column: 3/4;
}

#hero_image {
    width: 80%;
    height: 40%;
    background-image: url("images/hero_image.png");
    background-color: #1C2A39; /* Use if image does not show up */
}

footer {
    border: 2px solid black;
    background-color: #1C2A39;
    color: #F5F5F5;
}

/*
https://www.w3schools.com/cssref/pr_background-image.php
https://www.w3schools.com/howto/howto_css_hero_image.asp
*/